<!--================== Header_Start ==================-->
<div class="header">
  <div class="tpBar">
    <div class="heading">CURBSIDE MANAGEMENT Dashboard</div>
    <div class="title">Hitachi TruePATH</div>

    <div class="usr_intFace">
      <div class="user">
        <span>User: </span>
        <span>Admin</span>
      </div>

      <div class="timeZone">
        <span>Time Zone: </span>
        <span>MDT</span>
      </div>

      <div class="setup">
        <ul>
          <li>
            <a href="javascript:void(0);"><i class="icofont-home"></i></a>
          </li>
          <li>
            <a href="javascript:void(0);"
              ><i class="icofont-question-circle"></i
            ></a>
          </li>
          <li>
            <a href="javascript:void(0);"><i class="icofont-gear"></i></a>
          </li>
          <li>
            <a href="javascript:void(0);"><i class="icofont-logout"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--================== Header_End ==================-->
